:root {
    --dark-bg-color: #111213;
    --secondary-dark-bg: #18191a;
    --dark-theme-card-bg: #1a1b1c;
    --dark-theme-card-hover: rgba(40, 40, 40, 0.666);
    --title-color: #dedede;
    --sub-title-color: #c9c9c9;
}

/* landing page */

body,
.dark-nav-bar,
.dark-nav-bar input[type="search"] {
    background-color: var(--dark-bg-color);
}

.dark-nav-bar input[type="search"] {
    color: var(--text-white);
}

.dark-nav-bar>div div>a>i,
.dark-nav-bar .nav-bar-btns>a>div>button,
.dark-nav-bar i {
    color: var(--sub-title-color);
}

.mobile-navigation-bar {
    display: none;
}

.dark-nav-bar .nav-bar-btns a:nth-child(2) i {
    color: var(--primary-color);
}

.landing-page-content {
    margin: auto;
}

.hero-section,
.landing-recommended-section,
footer {
    background-color: var(--dark-bg-color);
}

.hero-banner,
.recommended-banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    height: 35rem;
    width: 75%;
    margin: auto;
}

.hero-banner h1,
.recommended-banner h1 {
    font-size: 2.5rem;
    color: var(--text-white);
}

.recommended-banner h1 {
    font-size: 2rem;
}

.hero-banner>div>p,
.recommended-banner>div>p {
    font-size: 1.3rem;
    margin: 1rem 0;
    line-height: 2.3rem;
    color: var(--text-light);
}

.hero-banner>div button {
    margin: 1rem 0 0 0;
    padding-left: 0;
    font-size: 1.4rem;
}

.recommended-banner>div button {
    padding-left: 1rem;
    margin: 1rem 1.5rem 1rem 0;
}

.hero-banner>img,
.recommended-banner img {
    max-width: 35rem;
    margin: auto 0 auto auto;
}

.recommended-banner img {
    max-width: 22rem;
}

/* categories */

.hero-categories {
    width: 75%;
    margin: auto;
}

.hero-categories>a>div {
    border: none;
    height: 12rem;
    width: 13rem;
    border-radius: 10px;
}

.hero-categories>a>div:hover {
    background-color: var(--dark-theme-card-hover);
    cursor: pointer;
}

.hero-categories>a>div img {
    width: 3.5rem;
    filter: invert(0.9);
}

.hero-categories>a>div h1 {
    font-weight: 500;
}

.up-btn-dark-bg {
    box-shadow: none;
}

/* hot new products */

.hot-new-products {
    margin: auto;
    position: relative;
    background-color: var(--secondary-dark-bg);
    padding: 3rem 0;
}

.hot-new-products>div {
    flex-wrap: nowrap;
    width: 75%;
    margin: auto;
}

.hot-new-products>h1 {
    font-size: 1.5rem;
    color: var(--text-white);
    margin: 0.5rem auto 1.5rem 1rem;
    text-align: center;
}

.hot-new-products a>div {
    border: none;
    height: 20rem;
    width: 20rem;
    justify-content: space-around;
    border-radius: 10px;
}

.hot-new-products>div h1 {
    font-size: 1.2rem;
    font-weight: 400;
}

.hot-new-products .hot-new-slider-dots>i {
    color: var(--text-white);
    margin: 0.8rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.hot-new-products>div>a>div:hover {
    background-color: var(--primary-color);
    transition: .2s ease-in-out;
}

.signup {
    cursor: pointer;
}

.signup-modal-one h1 {
    margin: 0;
}

.signup-modal-one form p {
    margin: 0.6rem 0 1.2rem;
}

/* product page */

.product-page-main {
    display: grid;
    grid-template-columns: 20% 80%;
}

.filter-section,
.products,
.wishlist,
.cart,
.similar-products {
    padding: 2rem 1.5rem 1.5rem;
}

.show-filter-section-btn {
    display: none;
}

.filter-section {
    position: sticky;
    top: 3.97rem;
    padding-top: 0;
    margin-top: 0;
    width: 15.5rem;
    height: 95vh;
    overflow-y: scroll;
}

.filter-close-btn {
    display: none;
}

.filter-section>div button {
    color: var(--title-color);
}

.filter-section h2,
.products>h1,
.card-text h1 {
    color: var(--title-color);
}

.card-text h1 {
    font-size: 0.9rem;
}

.filter-section label,
.filter-section p {
    color: var(--sub-title-color);
    font-size: 1rem;
    font-weight: 400;
}

.products>h1 {
    padding-left: 1rem;
}

.products>div>div:hover,
.wishlist>div>div:hover,
.cart-products>div:hover,
.similar-products>div>div:hover {
    background-color: var(--dark-theme-card-hover);
}

button {
    cursor: pointer;
}

form>div {
    margin: 2rem 0;
}

.filter h2,
.filter button,
form>div>h2,
.products>h1 {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
    font-weight: 400;
}

.price>div {
    margin-bottom: -0.6rem;
    font-size: 1rem;
    width: 12rem;
}

.price-label {
    margin-top: 0.6rem;
    max-width: 100%;
}

.range-input,
.category>div>div,
.brand>div>div,
.rating>div,
.sort>div {
    width: 100%;
    margin-left: 0;
}

.filter h2,
.filter button {
    padding: 0.3rem auto;
    border: none;
    background: none;
}

.filter-section input[type="checkbox"],
.filter-section input[type="radio"] {
    width: 1rem;
}

form>div>button {
    text-decoration: underline;
    align-self: flex-start;
}

.modal-active-shadow {
    box-shadow: 0 0 0 300rem rgba(0, 0, 0, 0.7);
}

/* wishlist */

.wishlist {
    min-height: 90vh;
    margin: 0 0 2rem;
}

.wishlist>div>div {
    margin: 0.5rem;
}

/* cart */

.cart {
    min-height: 90vh;
    margin: 0 0 2rem;
}

.cart>h1,
.wishlist>h1,
.similar-products>h1 {
    color: var(--title-color);
}

.cart>div {
    width: 90%;
    margin: auto;
    flex-wrap: nowrap;
}

.cart-item-card>div>img {
    width: 5rem;
}

.cart-item-card h1 {
    font-size: 1rem;
}

.price-table-dark h3 {
    color: var(--sub-title-color);
}

.hero-categories>a>div,
.products>div>div,
.wishlist>div>div,
.cart-item-card,
.price-table-dark,
.price-table-dark .cart-btns button:nth-child(1),
.price-table-dark input,
.price-table-dark .cart-coupon button,
.similar-products>div>div {
    background-color: var(--dark-theme-card-bg);
}

.cart-products {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#products .card-dark .card-text .card-price,
.cart-products .card-price {
    color: var(--text-red-light);
    font-weight: 400;
}

/* similar products */

.similar-products {
    margin: 1rem 0 1rem;
}

.similar-products>h1 {
    margin-left: 1rem;
}

.similar-products>div {
    flex-wrap: wrap;
}

.similar-products>div>div {
    min-width: 14rem;
    border: none;
}

/* footer */

footer {
    position: relative;
    bottom: 0;
    margin: auto auto 0;
    padding: 3rem 0 2rem;
    background-color: var(--secondary-dark-bg);
}

.footer-main-area {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 75%;
    margin: auto;
}

.footer-main-area,
.footer-main-area a {
    color: var(--sub-title-color);
}

.footer-main-area h1 {
    font-size: 1rem;
    margin-bottom: 0.8rem;
    font-weight: 300;
}

.footer-main-area h2 {
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0.4rem 0;
}

footer h2:hover {
    cursor: pointer;
}

.footer-connect-icons i {
    font-size: 1.2rem;
    margin: 0.5rem 0.5rem 1rem 0;
    padding: 0.6rem;
    border-radius: 50%;
    cursor: pointer;
}

.footer-connect-icons i:hover {
    background-color: var(--dark-theme-card-hover);
}

footer h2:hover,
.footer-connect-icons i:hover {
    color: var(--primary-color);
}

footer .break-line {
    width: 75%;
    margin: 0.8rem auto;
}

.footer-copyright-text {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: var(--text-light);
}

.footer-copyright-text h2,
h3 {
    font-size: 0.8rem;
    font-weight: 400;
}

.footer-copyright-text>div h2 {
    margin-left: 1rem;
}

.section-break-line {
    width: 70%;
    margin: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--text-lighter);
    opacity: 0.4;
}

/* all scrollbar */

* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--dark-bg-color);
}

*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-track {
    background: var(--dark-bg-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 3px solid var(--primary-color);
}

@media screen and (max-width:1050px) {

    .hero-banner,
    .recommended-banner {
        width: 95%;
    }

    .hero-banner h1 {
        font-size: 2rem;
    }

    .recommended-banner h1 {
        font-size: 1.6rem;
    }

    .hero-banner>img {
        max-width: 30rem;
    }

    .recommended-banner img {
        max-width: 20rem;
    }

    /* categories */

    .hero-categories {
        width: 95%;
    }

    /* hot new products */

    .hot-new-products>div {
        flex-wrap: nowrap;
        width: 95%;
        margin: auto;
    }

    .hot-new-products>h1 {
        font-size: 1.5rem;
        color: var(--text-white);
        margin: 0.5rem auto 1.5rem 1rem;
        text-align: center;
    }

    .hot-new-products a>div {
        height: 16rem;
        width: 16rem;
    }

    /* product page */

    .filter-section,
    .products,
    .wishlist,
    .cart,
    .similar-products {
        padding: 2rem 1.5rem 1.5rem;
    }

    .products {
        margin-left: 4rem;
    }

    /* cart */

    .cart>div {
        width: 100%;
    }

    .cart-item-card>div>img {
        width: 4rem;
    }

    .footer-main-area {
        width: 95%;
    }

    footer .break-line {
        width: 95%;
    }

    .footer-copyright-text {
        width: 95%;
    }
}

@media screen and (max-width:864px) {

    .recommended-banner h1 {
        font-size: 1.8rem;
    }

    .hero-banner>img {
        max-width: 27rem;
    }

    .recommended-banner {
        height: auto;
    }

    .recommended-banner img {
        max-width: 15rem;
    }

    /* categories */

    .hero-categories>a>div {
        height: 10rem;
        width: 10rem;
    }

    .product-page-main {
        display: flex;
    }

    /* hot new products */

    .hot-new-products {
        overflow-x: hidden;
    }

    .hot-new-products a>div {
        height: 13rem;
        width: 13rem;
    }

    .hot-new-products .card-text h1 {
        font-size: 1rem;
    }

    .show-filter-section-btn,
    .filter-close-btn {
        display: flex;
        position: fixed;
        background-color: var(--dark-theme-card-bg);
        z-index: 2;
    }

    .show-filter-section-btn {
        top: 3.6rem;
        left: 0;
        margin-left: 0;
        font-size: 1rem;
        align-items: center;
        justify-content: center;
    }

    .show-filter-section-btn i {
        margin-left: 0.6rem;
        font-size: 0.8rem;
    }

    .filter-close-btn {
        top: 3.6rem;
        left: 13.7rem;
        font-size: 1rem;
        margin-left: 0;
        border-radius: 50%;
        color: var(--primary-color);
        margin: 0.6rem 0;
        padding: 0.4rem;
        border: none;
    }

    .filter-section {
        position: fixed;
        width: 17rem;
        z-index: 1;
        background-color: var(--dark-bg-color);
        display: none;
    }

    .products {
        margin-left: 0;
        margin-top: 2rem;
    }

    /* cart */

    .cart>div {
        width: 95%;
        flex-wrap: wrap;
    }

    .cart-item-card>div>img {
        width: 2rem;
    }

    .cart-item-card h1 {
        font-size: 1rem;
    }
}

@media screen and (max-width:580px) {
    .outline-search-input {
        display: none;
    }

    .desktop-navigation-bar {
        display: none;
    }

    .mobile-navigation-bar {
        padding: 0.4rem 0.6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 3;
    }

    .mobile-navigation-bar a>img {
        width: 2rem;
        margin-left: 0.5rem;
    }

    .hero-banner,
    .recommended-banner {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 1.5rem;
    }

    .hero-banner h1 {
        font-size: 2.2rem;
    }

    .recommended-banner h1 {
        font-size: 1.4rem;
    }

    .hero-banner img,
    .recommended-banner img {
        margin: auto auto 1rem;
    }

    .hero-banner img {
        max-width: 17rem;
    }

    .recommended-banner img {
        max-width: 12rem;
    }

    /* categories */

    .hero-categories>a>div {
        height: 9rem;
        width: 8rem;
    }

    .hero-categories>a>div img {
        width: 2rem;
    }

    /* hot new products */

    .hot-new-products>div {
        flex-wrap: wrap;
    }

    .hot-new-products a>div {
        height: 12rem;
        width: 12rem;
    }

    .hot-new-products .card-text h1 {
        font-size: 0.9rem;
    }

    /* all vertical cards */

    .products,
    .wishlist,
    .similar-products,
    .cart {
        padding: 1rem 0.2rem;
    }

    .products>div>div,
    .similar-products>div>div {
        margin: 0.3rem auto;
    }

    .card-vertical {
        flex-direction: row;
        width: auto;
        height: auto;
    }

    /* cart */

    .cart-item-card {
        width: 100%;
        padding-left: 0;
    }

    .cart-item-card .card-img-container {
        width: 12rem;
    }

    .cart-item-card .card-img-container>img {
        width: 8rem;
    }

    .cart-item-card .card-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cart-item-card .card-text h1 {
        width: 100%;
        font-size: 0.8rem;
        margin: 0;
        margin-top: 0.6rem;
    }

    .cart-item-card .card-text h2 {
        margin: 1rem 0 0;
        font-weight: 400;
        align-self: flex-start;
        font-size: 0.8rem;
    }

    .cart-item-card .cart-qty button {
        margin-left: 0.3rem;
        margin-right: 0.2rem;
    }

    output {
        font-size: 0.9rem;
    }

    /* footer */

    .footer-main-area h1 {
        font-size: 0.8rem;
    }

    .footer-main-area h2 {
        font-size: 0.8rem;
    }

    .footer-connect-icons i {
        font-size: 1rem;
        margin: 0;
        padding: 0.5rem;
    }

    .footer-copyright-text h2,
    h3 {
        font-size: 0.7rem;
        font-weight: 400;
    }

    .footer-copyright-text>div h2 {
        margin-left: 0.6rem;
    }
}